@import "tailwindcss";

@theme {
  --color-frag-cream: #F3F0E9;
  --color-frag-dark: #1A1A1A;
  --color-frag-gray: #717171;
  --color-frag-border: #E5E1D8;

  /* Font custom */
  --font-family-serif: "Optima", "Didot", "serif";
  --font-family-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-frag-cream text-frag-dark antialiased;
  }
}